<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9AT0iUNyYDxxilajYQZs5NNW1A_8hCp0</string>
	<key>GCM_SENDER_ID</key>
	<string>98273713541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibrahimmesan.pokrenise</string>
	<key>PROJECT_ID</key>
	<string>pokrenise-2e937</string>
	<key>STORAGE_BUCKET</key>
	<string>pokrenise-2e937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98273713541:ios:afc2c1accfe5aa35d378ec</string>
</dict>
</plist>